<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuepress 文档工具</title>

    <script src="./resources/vue/vue.js"></script>
    <script src="./resources/elementUI/index.js"></script>
    <script src="./resources/JsZip/jszip.min.js"></script>
    <!-- <link rel="stylesheet" href="./resources/elementUI/index.css"> 

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app" style="width: 800px; margin: 50px auto">
        <div style="height: 60px;" v-if="false">
            <el-button type="primary" plain size="samll" icon="el-icon-setting" style="float:left;" @click="setBaseInfo">设置</el-button>
        </div>

        <div style="width: 80%;margin: 0 auto;">
            <el-steps :active="active">
                <el-step title="路径配置" icon="el-icon-setting" @click.native="changeStep(1)"></el-step>
                <el-step title="文件信息" icon="el-icon-setting" @click.native="changeStep(2)"></el-step>
                <el-step title="文件生成" icon="el-icon-download" @click.native="changeStep(3)"></el-step>
            </el-steps>
        </div>
        <el-divider></el-divider>

        <div style="width:90%;height: 600px;margin:30px auto;">
            <div v-show="active == 1">
                <el-form ref="form" :model="form" label-width="90px" label-position="left">
                    <el-form-item label="文档根路径">
                        <el-input v-model="form.vuepressPath"></el-input>
                    </el-form-item>
                    <el-form-item label="目标路径">
                        <el-input v-model="form.targetPath"></el-input>
                    </el-form-item>
                    <el-form-item label="文件夹名称">
                        <el-input v-model="form.foldName" placholder="请输入上方两个路径"></el-input>
                    </el-form-item>
                    <el-form-item label="链接前缀">
                        <el-input v-model="form.permLinkPre"></el-input>
                    </el-form-item>
                    <el-form-item label="分类">
                        <el-checkbox-group v-model="form.catogries">
                            <el-checkbox v-for="item in defCatagories" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-checkbox-group v-model="form.tags">
                            <el-checkbox v-for="item in defTags" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </el-form>
                <div style="text-align: center;">
                    <el-button type="primary" @click="checkBaseInfo" style="margin: 20px auto;">下一步</el-button>
                </div>
            </div>
            <div v-show="active == 2">
                BBBBBBBBB
            </div>

            <div v-show="active == 3">
                <el-form ref="form" :model="form" label-width="140px" label-position="left">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>文件列表</span>
                            <el-button type="primary" size="small" @click="download" style="float:right;">下载文件</el-button>
                        </div>
                        <div>
                            <div style="min-height: 300px;">
                                <el-row :gutter="20" v-for="(item, index) in form.mdFiles"  :key="item.key">
                                    <el-col :span="4"><el-input v-model="item.key" :disabled="item.readonly"></el-input></el-col>
                                    <el-col :span="20">
                                        <el-input placeholder="请输入文件名称" v-model="item.title" :disabled="item.readonly">
                                            <el-button slot="append" icon="el-icon-delete" @click.prevent="removeDomain(domain)" :disabled="item.readonly"></el-button>
                                        </el-input>
                                    </el-col>
                                </el-row>
                            </div>
                            <el-divider></el-divider>
                            <span>生成README.md</span><el-switch v-model="form.isContainReadMe" @change="changeReadmeState" style="margin-left: 5px;"></el-switch>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="addMdFile">新增一行</el-button>
                        </div>
                    </el-card>
                    <div style="margin: 20px auto;text-align: center">
                    </div>
                </el-form>
            </div>
        </div>

        <el-dialog title="基础信息维护" :visible.sync="baseInfo.visible" width="500px;">
            <div style="padding: 10px;">
                <el-form ref="form" :model="form" label-width="90px" label-position="left">
                    <el-form-item label="文档根路径">
                        <el-input v-model="form.vuepressPath" @change="checkBaseInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="目标路径">
                        <el-input v-model="form.targetPath" @change="checkBaseInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="文件夹名称">
                        <el-input v-model="form.foldName" placholder="请输入上方两个路径"></el-input>
                    </el-form-item>
                    <el-form-item label="链接前缀">
                        <el-input v-model="form.permLinkPre"></el-input>
                    </el-form-item>
                    <el-form-item label="分类">
                        <el-checkbox-group v-model="form.catogries">
                            <el-checkbox v-for="item in defCatagories" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-checkbox-group v-model="form.tags">
                            <el-checkbox v-for="item in defTags" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="checkBaseInfo">取 消</el-button>
                <el-button type="primary" @click="baseInfo.visible = false" :disabled="!baseInfo.checked">确 定</el-button>
              </span>
        </el-dialog>
    </div>
</body>
<script>
    new Vue({
        el: '#app', data() {
            return {
                form: {
                    vuepressPath: "",
                    targetPath: "",
                    mdFiles: [],
                    isContainReadMe: false,
                    catogries:[],
                    tags: [],
                    foldName:'',
                    permLinkPre: ''
                },
                defCatagories: ['大前端', 'Vue'],
                defTags: ['大前端', 'Vue'],
                active: 1,
                baseInfo: {
                    visible: false,
                    checked: false
                }
            }
        },
        mounted() {
            this.addMdFile();
            this.$nextTick(()=> {

                // if(!this.baseInfo.checked)
                //     this.setBaseInfo();
            })
        },
        methods: {
            setBaseInfo() {
                this.baseInfo.visible = true
                console.log(this.baseInfo.visible)
            },
            removeDomain(item) {
                var index = this.form.mdFiles.indexOf(item)
                if (index !== -1) {
                    this.form.mdFiles.splice(index, 1)
                }
            },
            addMdFile() {
                let key = (this.form.mdFiles.length - (this.form.isContainReadMe ? 1 : 0) + 1) * 10
                console.log(this.form.mdFiles.length,(this.form.isContainReadMe ? 1 : 0) , this.form.isContainReadMe)
                this.form.mdFiles.push(this.getMdFileObj(key));
            },
            generateId(key = '0000'){
                return Date.now().toString(36) + key.toString(36) +  Math.random().toString(36).substr(2);
            },
            download() {

                var zip = new JSZip();
                
                zip.file("hello.txt", "Hello World\n");
                
                zip.folder("demo").file("hello.txt", "Hello World\n");
                
                zip.generateAsync({
                    type: 'blob',// 压缩类型
                    compression: "DEFLATE", // STORE：默认不压缩 DEFLATE：需要压缩
                    compressionOptions: {
                        level: 9 // 压缩等级1~9 1压缩速度最快，9最优压缩方式
                    }
                }).then(function(content) {
                    var filename = 'hello.zip';
                    var eleLink = document.createElement('a');
                    eleLink.download = filename;
                    eleLink.style.display = 'none';
                    eleLink.href = URL.createObjectURL(content);
                    document.body.appendChild(eleLink);
                    eleLink.click();
                    document.body.removeChild(eleLink);
                });
            },
            changeReadmeState(enabled) {
                if(enabled){
                    this.form.mdFiles.unshift(this.getMdFileObj("-", "README.md", true));
                }else{
                    this.form.mdFiles.splice(0,1);
                }
            },
            checkBaseInfo() {
                console.log(this.form.targetPath,this.form.vuepressPath,this.form.targetPath === '' ,this.form.vuepressPath === "")
                // if(this.form.targetPath === '' || this.form.vuepressPath === "")
                //     return this.$message.error("路径不能为空!")
                if(this.form.targetPath == this.form.vuepressPath)
                    return this.$message.error("路径不能相同!")
                if(this.form.targetPath.indexOf(this.form.vuepressPath) < 0)
                    return this.$message.error('目标文件夹路径必须在Vuepress项目路径下');

                let pathDiff = this.form.targetPath.replace(this.form.vuepressPath, "");
                let pathArr = pathDiff.split("\\")

                console.log(pathDiff, pathArr)
                this.active++;
            },
            getMdFileObj(key = "", title="", readonly = false) {
                return {
                    key,
                    title,
                    readonly,
                    randomId: this.generateId()
                }
            },
            getMdFileContent(key, fileName) {
                return `
                title: "简介"
                order: 10
                date: 2022-12-02
                permalink: "/front/vue/40/10.html"
                category:
                    - 大前端
                    - Vue
                tag:
                    - 大前端
                    - Vue
                `;
            },
            getReadmeContent() {
                return `
                    dir: {
                        text: "VueX",
                        order: 40,
                    }
                    index: false
                `;
            },
            changeStep(stepIndex = 0) {
                console.log(stepIndex)
                this.active = stepIndex
            },
        }
    })
</script>

</html>

<style>
    .el-row {
        margin-bottom: 5px;
    }

    .el-row:last-child {
        margin-bottom: 0;
    }
</style>