<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuepress 文档工具</title>

    <script src="./resources/vue/vue.js"></script>
    <script src="./resources/elementUI/index.js"></script>
    <script src="./resources/JsZip/jszip.min.js"></script>
    <script src="./resources/momentJs/moment.min.js"></script>
    <!-- <link rel="stylesheet" href="./resources/elementUI/index.css"> 

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app" style="width: 800px; margin: 50px auto">
        <div style="height: 60px;" v-if="false">
            <el-button type="primary" plain size="samll" icon="el-icon-setting" style="float:left;" @click="setBaseInfo">设置</el-button>
        </div>

        <div style="width: 80%;margin: 0 auto;">
            <el-steps :active="active">
                <el-step title="路径配置" @click.native="active = 1"></el-step>
                <el-step title="文件信息" @click.native="active = 2"></el-step>
                <el-step title="文件生成" @click.native="active = 3"></el-step>
            </el-steps>
        </div>
        <el-divider></el-divider>

        <div style="width:90%;height: 600px;margin:50px auto 30px auto ;">
            <div v-show="active == 1">
                <el-form ref="form" :model="form" label-width="90px" label-position="left">
                    <el-form-item label="目标路径">
                        <el-input v-model="form.targetPath" @input="setVuepressPath"></el-input>
                    </el-form-item>
                    <el-form-item label="文档根路径">
                        <el-input v-model="form.vuepressPath"></el-input>
                    </el-form-item>
                </el-form>
                <div style="text-align: center;">
                    <el-button type="primary" @click="checkBaseInfo" style="margin: 20px auto;">下一步</el-button>
                </div>
            </div>
            <div v-show="active == 2">
                <el-form ref="form" :model="form" label-width="90px" label-position="left">
                    <el-form-item label="文件夹名称">
                        <el-input v-model="form.foldName" placholder="请输入上方两个路径"></el-input>
                    </el-form-item>
                    <el-form-item label="文件夹排序">
                        <el-input v-model="form.foldOrder" placholder="请输入上方两个路径"></el-input>
                    </el-form-item>
                    <el-form-item label="链接前缀">
                        <el-input v-model="form.permLinkPre"></el-input>
                    </el-form-item>
                    <el-form-item label="分类">
                        <el-checkbox-group v-model="form.catogries">
                            <el-checkbox v-for="item in defCatagories" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-checkbox-group v-model="form.tags">
                            <el-checkbox v-for="item in defTags" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </el-form>
                <div style="text-align: center;">
                    <el-button type="primary" @click="checkBaseInfo" style="margin: 20px auto;">下一步</el-button>
                </div>
            </div>

            <div v-show="active == 3">
                <el-form ref="form" :model="form" label-width="140px" label-position="left">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>文件列表</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="addMdFile">新增一行</el-button>
                        </div>
                        <div>
                            <div style="min-height: 300px;">
                                <el-row :gutter="20" v-for="(item, index) in form.mdFiles"  :key="item.key">
                                    <el-col :span="4"><el-input v-model="item.key" :disabled="item.isReadMe"></el-input></el-col>
                                    <el-col :span="20">
                                        <el-input placeholder="请输入文件名称" v-model="item.title" :disabled="item.isReadMe" @change="setMdFileContent(index, $event)">
                                            <el-button slot="append" icon="el-icon-delete" @click.prevent="removeMdFile(item, index)" :disabled="item.isReadMe"></el-button>
                                        </el-input>
                                    </el-col>
                                </el-row>
                            </div>
                            <el-divider></el-divider>
                            <span>生成README.md</span><el-switch v-model="form.createReadme" @change="changeReadmeState" style="margin-left: 15px;"></el-switch>
                            
                        </div>
                    </el-card>
                    <div style="margin: 20px auto;text-align: center">
                        <el-button type="primary" size="small" @click="download" style="float:right;">下载文件</el-button>
                    </div>
                </el-form>
            </div>
        </div>

        <el-dialog title="基础信息维护" :visible.sync="baseInfo.visible" width="500px;">
            <div style="padding: 10px;">
                <el-form ref="form" :model="form" label-width="90px" label-position="left">
                    <el-form-item label="文档根路径">
                        <el-input v-model="form.vuepressPath" @change="checkBaseInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="目标路径">
                        <el-input v-model="form.targetPath" @change="checkBaseInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="文件夹名称">
                        <el-input v-model="form.foldName" placholder="请输入上方两个路径"></el-input>
                    </el-form-item>
                    <el-form-item label="链接前缀">
                        <el-input v-model="form.permLinkPre"></el-input>
                    </el-form-item>
                    <el-form-item label="分类">
                        <el-checkbox-group v-model="form.catogries">
                            <el-checkbox v-for="item in defCatagories" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-checkbox-group v-model="form.tags">
                            <el-checkbox v-for="item in defTags" :label="item" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="checkBaseInfo">取 消</el-button>
                <el-button type="primary" @click="baseInfo.visible = false" :disabled="!baseInfo.checked">确 定</el-button>
              </span>
        </el-dialog>
    </div>
</body>
<script>
    new Vue({
        el: '#app', data() {
            return {
                form: {
                    vuepressPath: localStorage.getItem("vuepressPath") || "",
                    targetPath: localStorage.getItem("targetPath") || "",
                    mdFiles: [],
                    createReadme: false,
                    catogries:[],
                    tags: [],
                    foldName:'',
                    foldOrder: 0,
                    permLinkPre: ''
                },
                defCatagories: ['大前端', 'Vue'],
                defTags: ['大前端', 'Vue'],
                active: 1,
                baseInfo: {
                    foldName: "",
                    foldOrder: 0,
                    permLinkPre: "",
                    checked: false
                }
            }
        },
        mounted() {
            this.addMdFile();
        },
        methods: {
            setBaseInfo() {
                this.baseInfo.visible = true
                console.log(this.baseInfo.visible)
            },
            setVuepressPath(value) {
                this.form.vuepressPath = value.substr(0, value.indexOf('\\src\\') + 4);
                this.form.createReadme = false
            },
            removeMdFile(item, index) {
                this.form.mdFiles.splice(index, 1)
            },
            addMdFile() {
                let key = (this.form.mdFiles.length - (this.form.createReadme ? 1 : 0) + 1) * 10
                this.form.mdFiles.push(this.getMdFileObj(key));
            },
            setMdFileContent(index, value) {
                let nowItem = this.form.mdFiles[index];
                let mdFileObj = this.getMdFileObj(nowItem.key, value)
                this.form.mdFiles.splice(index, 1, mdFileObj)
                console.log(this.form.mdFiles)
            },
            generateId(key = '0000'){
                return Date.now().toString(36) + key.toString(36) +  Math.random().toString(36).substr(2);
            },
            download() {
                var zip = new JSZip();

                //if(this.form.createReadme)
                    //zip = zip.folder(this.form.foldName);
                
                this.form.mdFiles.forEach((item, index) => {
                    console.log(item)
                    if(item.title !== '')
                        zip.file(item.fileName, item.content);
                });

                const _foldName = this.form.foldName;
                zip.generateAsync({
                    type: 'blob',// 压缩类型
                    compression: "DEFLATE", // STORE：默认不压缩 DEFLATE：需要压缩
                    compressionOptions: {
                        level: 9 // 压缩等级1~9 1压缩速度最快，9最优压缩方式
                    }
                }).then(function(content) {
                    var filename = _foldName + '.zip';
                    var eleLink = document.createElement('a');
                    eleLink.download = filename;
                    eleLink.style.display = 'none';
                    eleLink.href = URL.createObjectURL(content);
                    document.body.appendChild(eleLink);
                    eleLink.click();
                    document.body.removeChild(eleLink);
                });
            },
            changeReadmeState(enabled) {
                if(enabled){
                    this.form.mdFiles.unshift(this.getMdFileObj("-", "README.md", true));
                }else{
                    this.form.mdFiles.splice(0,1);
                }
            },
            checkBaseInfo() {
                console.log(this.form.targetPath,this.form.vuepressPath,this.form.targetPath === '' ,this.form.vuepressPath === "")
                if(this.form.targetPath === '' || this.form.vuepressPath === "")
                    return this.$message.error("路径不能为空!")
                if(this.form.targetPath == this.form.vuepressPath)
                    return this.$message.error("路径不能相同!")
                if(this.form.targetPath.indexOf(this.form.vuepressPath) < 0)
                    return this.$message.error('目标文件夹路径必须在Vuepress项目路径下');

                let pathDiff = this.form.targetPath.replace(this.form.vuepressPath, "");
                let pathArr = pathDiff.split("\\").filter(item=>{
                    return item && item != ''
                });
                let fullFoldName = pathArr[pathArr.length-1];
                this.form.foldName = this.removeNumPre(pathArr[pathArr.length-1]);
                if(this.form.foldName !== fullFoldName)
                    this.form.foldOrder = fullFoldName.replace(this.form.foldName, "").replace("\.", "");

                localStorage.setItem("vuepressPath", this.form.vuepressPath);
                localStorage.setItem("targetPath", this.form.targetPath);
                this.active++;
            },
            getMdFileObj(key = "", title = "", isReadMe = false) {
                let mdFileObj = { key, title, isReadMe, randomId: this.generateId() };
                if (isReadMe) {
                    mdFileObj['fileName'] = "README.md";
                    mdFileObj['content'] = this.getReadmeContent(this.form.foldName, this.form.foldOrder);
                } else {
                    mdFileObj['fileName'] = key + "." + title + ".md";
                    mdFileObj['content'] = this.getMdFileContent();
                }
                console.log(mdFileObj)
                return mdFileObj
            },
            getMdFileContent(key, fileName, permalink = "") {
                let content = "---\n" ;
                content += 'title: "' + fileName + '"\n';
                content += 'order:' + key + '\n';
                content += 'date:' + moment().format("YYYY-MM-DD") + '\n';
                if(permalink !== "")
                    content += 'permalink: "' + permalink + '"\n';
                if(this.form.catogries.length > 0){
                    content += "category:\n";
                    this.form.catogries.forEach((item, index) => {
                        content += "   - " + item + "\n";
                    })
                }
                if(this.form.tags.length > 0){
                    content += "tag:\n";
                    this.form.tags.forEach((item, index) => {
                        content += "   - " + item + "\n";
                    })
                }
                content += "---\n";
                content += "\n";
                content += "## 这是标题\n";
                content += "这是内容\n";
                return content;
            },
            getReadmeContent(title = " ", order = 0) {
                let content = "---\n";
                content += "dir: {\n";
                content += '    text: "' + title + '",';
                content += '    order: "' + order + '"';
                content += "}\n";
                content += "index: false";
                content += "---\n";
                return content;
            },
            removeNumPre(str) {
                return str.replace(/[0-9]{1,}[\.]{1}/,"");
            },
        }
    })
const DocFileContent = "";
</script>

</html>

<style>
    .el-row {
        margin-bottom: 5px;
    }

    .el-row:last-child {
        margin-bottom: 0;
    }
</style>