<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuepress 文档工具</title>

    <script src="./resources/vue/vue.js"></script>
    <script src="./resources/elementUI/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.10/lib/theme-chalk/index.css">
    <script src="./resources/JsZip/jszip.min.js"></script>
    <script src="./resources/momentJs/moment.min.js"></script>
    <script src="./resources/axios/axios.min.js"></script>
    <!-- <link rel="stylesheet" href="./resources/elementUI/index.css"> 

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script> -->
</head>

<body>
    <div style="position:absolute; width:100%; height:100%; top:0; left:0;">
            <header class="header">
                <h2>Vuepress 文档辅助工具 
                <span style="color: #9b9696;font-size:14px;font-weight: 500;display: inline-block;margin-left: 15px;">
                    <span style="font-size: 18px;display: inline-block;margin-right: 3px;">V</span>2.0.1</span>
                </h2>
            </header>
            <section class="mainBox">
                <div id="app" style="width: 900px; margin: 50px auto">
                    <div style="height: 60px;" v-if="false">
                        <el-button type="primary" @click="download" :loading="downloading" style="float:right;">下载文件</el-button>
                    </div>
            
                    <div >
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>文件列表</span><i class="el-icon-setting primary" @click="settingVisible= true" style="display: inline-block;margin-left: 10px; color: #409eff;"></i>

                                <el-button style="float: right; padding: 3px 0" type="text" @click="addMdFile">新增一行</el-button>
                            </div>
                            <div v-loading="downloading" element-loading-text="下载中,请稍候..." element-loading-spinner="el-icon-loading">
                                <div style="min-height: 500px;">
                                    <el-row :gutter="20" v-if="form.createReadme" type="flex" justify="center">
                                        <el-col :span="2"><el-input :disabled="true" value="-"></el-input></el-col>
                                        <el-col :span="12">
                                            <el-input placeholder="请输入文件名称" :disabled="true" value="README">
                                                <template slot="append">.md</template>
                                            </el-input>
                                        </el-col>
                                        <el-col :span="8"><el-input :disabled="true" value="-"></el-input></el-col>
                                        <el-col :span="2">
                                            <el-button icon="el-icon-plus" @click.prevent="addMdFile"></el-button>
                                        </el-col>
                                    </el-row>
                                    <!-- 普通MD文件列表 -->
                                    <el-row :gutter="20" v-for="(item, index) in form.mdFiles"  :key="index" type="flex" justify="center">
                                        <el-col :span="2"><el-input v-model="item.key"></el-input></el-col>
                                        <el-col :span="12">
                                            <el-input placeholder="请输入文件名称" v-model="item.title">
                                                <template slot="append">.md</template>
                                            </el-input>
                                        </el-col>
                                        <el-col :span="8"><el-input v-model="item.permalink"></el-input></el-col>
                                        <el-col :span="2">
                                            <el-button icon="el-icon-plus" @click.prevent="addMdFile" v-if="!form.createReadme && index === 0"></el-button>
                                            <el-button icon="el-icon-delete" @click.prevent="removeMdFile(item, index)" v-else></el-button>
                                        </el-col>
                                    </el-row>
                                </div>
                                <el-divider></el-divider>
                                <div style="height: 40px;display: flex;justify-content: space-between;">
                                    <div style="margin-top: auto; margin-bottom: auto;"><span>生成README.md</span><el-switch v-model="form.createReadme" @blur="changeCreateReadmeState" style="margin-left: 15px;"></el-switch></div>
                                    <el-button type="primary" size="mini" @click="download" :loading="downloading" icon="el-icon-download">下载文件</el-button>
                                </div>
                            </div>
                        </el-card>
                        <div style="margin: 20px auto;text-align: center">
                        </div>
                    </div>
            
                    <el-dialog title="设置" :visible.sync="settingVisible" width="700px" @open="getTagsAndCatalogs" center>
                        <div>
                            <el-form ref="form" :model="form" label-width="90px" label-position="left">
                                <el-form-item label="目标路径">
                                    <el-input v-model="form.targetPath" @input="setVuepressPath"></el-input>
                                </el-form-item>
                                <el-form-item label="文档根路径">
                                    <el-input v-model="form.vuepressPath"></el-input>
                                </el-form-item>
                                <el-form-item label="文件夹名称">
                                    <el-input v-model="form.foldName" placholder="请输入文件夹名称"></el-input>
                                </el-form-item>
                                <el-form-item label="文件夹排序">
                                    <el-input v-model="form.foldOrder" placholder="请输入文件夹排序数字"></el-input>
                                </el-form-item>
                                <el-form-item label="链接前缀">
                                    <el-input v-model="form.permLinkPre"></el-input>
                                </el-form-item>
                                <el-form-item label="分类">
                                    <el-checkbox-group v-model="form.catogries">
                                        <el-checkbox v-for="item in defCatagories" :label="item" :key="item">{{item}}</el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                                <el-form-item label="标签">
                                    <el-checkbox-group v-model="form.tags">
                                        <el-checkbox v-for="item in defTags" :label="item" :key="item">{{item}}</el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                                <el-form-item label="分类">
                                    <el-tag :key="tag" v-for="tag in form.tags" closable :disable-transitions="false" @close="handleTagClose(tag)"> {{tag}} </el-tag>
                                    <el-input class="input-new-tag" v-if="tagInputVisible" v-model="tagInputValue" ref="saveTagInput" size="small" @keyup.enter.native="handleTagInputConfirm" @blur="handleTagInputConfirm"></el-input>
                                    <el-button v-else class="button-new-tag" size="small" @click="showTagInput">+ New Tag</el-button>
                                    <el-autocomplete class="inline-input" v-model="tagInputValue" :fetch-suggestions="queryTagSearch" placeholder="请输入内容" @select="handleDefTagSelect"></el-autocomplete>
                                </el-form-item>
                            </el-form>
                        </div>
                        
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="settingVisible = false">取 消</el-button>
                            <el-button type="primary" @click="checkBaseInfo">确 定</el-button>
                        </span>
                    </el-dialog>
                </div>
            </section>
            <footer class="footer">
                <el-row style="width: 900px; margin: 0 auto; display:flex; justify-content: space-between; color: #9b9696;">
                    <el-col :span="12"><div class="grid-content bg-purple">自用偷懒小工具</div></el-col>
                    <el-col :span="12"><div class="grid-content bg-purple-light">Powered By 李广妮</div></el-col>
                </el-row>
            </footer>
        </div>
</body>
<script>
    var vm = new Vue({
        el: '#app', data() {
            return {
                form: {
                    vuepressPath: localStorage.getItem("vuepress_path") || "",
                    targetPath: localStorage.getItem("vuepress_targetPath") || "",
                    mdFiles: [],
                    createReadme: false,
                    catogries: JSON.parse(localStorage.getItem("vuepress_catagories") || "[]"),
                    tags: JSON.parse(localStorage.getItem("vuepress_tags") || "[]"),
                    foldName: '',
                    foldOrder: 0,
                    permLinkPre: '',
                },
                tagInputVisible: false,
                tagInputValue: '',
                defCatagories: ['大前端', 'Vue', 'Docker'],
                defTags: ['大前端', 'Vue', 'Docker'],
                defTags2: [{"value":"大前端"},{"value":"Vue"},{"value":"Docker"}],
                settingVisible: false,
                downloading: false,
            }
        },
        async mounted() {
            if(this.form.targetPath == ""){
                this.settingVisible = true;
            }else {
                await this.setVuepressPath();
				this.addMdFile();
            }
        },
        methods: {
            setVuepressPath(value) {
                if(value)
                    this.form.vuepressPath = value.substr(0, value.indexOf('\\src\\') + 4);
                let pathDiff = this.form.targetPath.replace(this.form.vuepressPath, "");
                let pathArr = pathDiff.split("\\").filter(item=>{
                    return item && item != ''
                });
                let fullFoldName = pathArr[pathArr.length-1];
                this.form.foldName = this.removeNumPre(pathArr[pathArr.length-1]);
                if(this.form.foldName !== fullFoldName)
                    this.form.foldOrder = fullFoldName.replace(this.form.foldName, "").replace("\.", "");
                this.form.permLinkPre = pathArr.reduce(function(prev, cur, index, arr) {
                    if((/^[0-9]+[\.]/).test(cur)){
                        return prev + "/" + cur.substr(0, cur.indexOf('.')); 
                    } else {
                        return prev + "/" +  cur;
                    }
                }, "");

            },
            checkBaseInfo() {
                if(this.form.targetPath === '' || this.form.vuepressPath === "")
                    return this.$message.error("路径不能为空!")
                if(this.form.targetPath == this.form.vuepressPath)
                    return this.$message.error("路径不能相同!")
                if(this.form.targetPath.indexOf(this.form.vuepressPath) < 0)
                    return this.$message.error('目标文件夹路径必须在Vuepress项目路径下');

                localStorage.setItem("vuepress_path", this.form.vuepressPath);
                localStorage.setItem("vuepress_targetPath", this.form.targetPath);
                localStorage.setItem("vuepress_tags", JSON.stringify(this.form.tags));
                localStorage.setItem("vuepress_catagories", JSON.stringify(this.form.catogries));

                this.settingVisible = false;
            },
            addMdFile() {
                let key = (this.form.mdFiles.length - (this.form.createReadme ? 1 : 0) + 1) * 10;
                key = 10;
                if(this.form.mdFiles.length != 0) {
                    key = Number(this.form.mdFiles[this.form.mdFiles.length - 1]['key']) + 10;
                }
                
                this.form.mdFiles.push(this.getMdFileObj(key));
            },
            removeMdFile(item, index) {
                this.form.mdFiles.splice(index, 1)
            },
            changeCreateReadmeState(enabled) {
                if(enabled){
                    //this.form.mdFiles.unshift(this.getMdFileObj("-", "README", true));
                }else{
                    //this.form.mdFiles.splice(0,1);
                }
            },
            updateMdFileItemKey(val, index = 0) {
                let item = this.form.mdFiles[index];
                let permalink = item['permalink'];
                permalink = permalink.substring(0,permalink.lastIndexOf("/") ) +  "/" + val +  "-" + permalink.substring(permalink.lastIndexOf("-") + 1);
                item['permalink'] = this.form.permLinkPre +  "/" + key +  "-" + ( Date.now()  ) + ".html";
                this.form.mdFiles.splice(index, 1, item);
                this.form.mdFiles.sort(function(a,b) {
                    return a['key'] - b['key']
                })
            },
            getMdFileObj(key = "", title = "", isReadMeFile = false) {
                let permalink = this.form.permLinkPre +  "/" + key +  "-" + ( Date.now()  ) + ".html";
                permalink = "{permLinkPre}" +  "/{key}-" + ( Date.now()  ) + ".html";
                return { key, title, isReadMeFile , permalink: permalink };
            },
            async download() {
                this.downloading = true;
                try {
                    try {
                        await this.checkFormRule()
                    } catch (error) {
                        this.$message.warning(error);
                        return;
                    }

                    var zip = new JSZip();

                    //需要创建Readme文件
                    if(this.form.createReadme){
                        zip.file("README.md", this.getReadmeFileContent());
                    }

                    this.form.mdFiles.forEach((item, index) => {
                        if(item.title !== ''){
                            if (item.isReadMeFile) {
                                item['fileName'] = "README.md";
                            } else {
                                item['fileName'] = item.key + "." + item.title + ".md";
                                let Tpermalink = item['permalink'] || "";
                                if(!item.hasOwnProperty('permalink'))
                                    Tpermalink = this.form.permLinkPre + "/{key}/" + ( Date.now()  ) + ".html" ;
                                
                                item['permalink'] = Tpermalink.replace("{key}",item['key']).replace("{permLinkPre}", this.form.permLinkPre);
                            }
                            zip.file(item.fileName, this.getNormalFileContent(item));
                        }
                    });
    
                    const _foldName = this.form.foldName;
                    zip.generateAsync({
                        type: 'blob',// 压缩类型
                        compression: "DEFLATE", // STORE：默认不压缩 DEFLATE：需要压缩
                        compressionOptions: {
                            level: 9 // 压缩等级1~9 1压缩速度最快，9最优压缩方式
                        }
                    }).then(function(content) {
                        var filename = "vuepress-files-" + _foldName + '.zip';
                        var eleLink = document.createElement('a');
                        eleLink.download = filename;
                        eleLink.style.display = 'none';
                        eleLink.href = URL.createObjectURL(content);
                        document.body.appendChild(eleLink);
                        eleLink.click();
                        document.body.removeChild(eleLink);
                    });
                } catch (error) {
                    this.$message.error("下载文件出错:" + error);
                }finally{
                    this.downloading = false;
                }
            },
            getNormalFileContent(mdFileObj) {
                let content = "";
                content += "---\n" ;
                content += "title: '" + mdFileObj['title'] + "'\n";
                content += "order: " + mdFileObj['key'] + "\n";
                content += "date: " + moment().format("YYYY-MM-DD") + "\n";
                content += "permalink: '" + mdFileObj['permalink'] + "'\n";
                if(this.form.catogries.length > 0){
                    content += "category:\n";
                    this.form.catogries.forEach((item, index) => {
                        content += "   - " + item + "\n";
                    })
                }
                if(this.form.tags.length > 0){
                    content += "tag:\n";
                    this.form.tags.forEach((item, index) => {
                        content += "   - " + item + "\n";
                    })
                }
                content += "---\n\n";
                content += "# " + mdFileObj['title'];
                content += "\n";
                return content;
            },
            getReadmeFileContent(){
                let content = "";
                content += "---\n";
                content += "dir: {\n";
                content += "    text: '" + this.form.foldName + "',\n";
                content += "    order: " + this.form.foldOrder + ",\n";
                content += "    link: " + false + "\n";
                content += "}\n";
                content += "index: false\n";
                content += "---\n";
                
                return content;
            },
            generateId(key = Math.random().toString().substring(2)){
                return (Date.now().toString(36) +  key.toString(36)).toUpperCase() ;
            },
            removeNumPre(str) {
                return str.replace(/[0-9]{1,}[\.]{1}/,"");
            },
            checkFormRule(rule, value, callback) {
                this.form.mdFiles.forEach((item, index) => {
                    if(item.title == ''){
                        throw new Error("文件名不能为空")
                    }
                });
            },
            getTagsAndCatalogs() {
                let url = "./json/codetool.json"
                axios.post( url, {})
                .then((response) => {
                    let rsp = response.data;
                    console.log(response)
                    if(rsp.success){
                        this.defCatagories.length = 0;
                        rsp.data.catalogs.forEach((item) => {
                            this.defCatagories.push(item)
                        });
                        this.defTags.length = 0;
                        rsp.data.tags.forEach((item) => {
                            this.defTags.push(item)
                        });
                    }else {
                        this.$message.warning("接口返回状态异常");
                    }
                })
                .catch((error) => {
                    this.$message.warning("分类获取异常:" + error);
                });
            },

            handleTagClose(tag) {
                this.form.tags.splice(this.dynamicTags.indexOf(tag), 1);
            },

            showTagInput() {
                this.tagInputVisible = true;
                this.$nextTick(_ => {
                    this.$refs.saveTagInput.$refs.input.focus();
                });
            },

            handleTagInputConfirm() {
                let tagInputValue = this.tagInputValue;
                if (tagInputValue) {
                    this.form.tags.push(tagInputValue);
                }
                this.tagInputVisible = false;
                this.tagInputValue = '';
            },
            queryTagSearch(queryString, cb) {
                console.log(queryString,"=====", cb)
                var defTags = this.defTags2;
                console.log("defTag", defTags);
                var results = queryString ? defTags.filter(this.createTagFilter(queryString)) : defTags;
                console.log(results,"resssults")
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createTagFilter(queryString) {
                return (tag) => {
                    console.log(tag,queryString)
                    return (tag.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            handleDefTagSelect(item) {
                console.log(item);
            }
        }
    })
</script>

</html>

<style>
    .el-row {
        margin-bottom: 5px;
    }

    .el-row:last-child {
        margin-bottom: 0;
    }

    .header {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        text-align: center;
    }

    .footer {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        text-align: center;
        line-height: 40px;
    }

    .mainBox {
        width: 100%;
        position: absolute;
        top: 60px;
        bottom: 60px;
    }
    .el-tag + .el-tag {
        margin-left: 10px;
    }
    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>